{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ numBooks }}</li>
    <li><strong>Copies:</strong> {{ numInstaces }}</li>
    <li><strong>Copies available:</strong> {{ numAvailable }}</li>
    <li><strong>Authors:</strong> {{ numAuthors }}</li>
  </ul>

  <p>You have visited this page {{ visits }}{% if visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}